<h2>This app helps you keep an accurate log of symptoms for your doctor.<br>Why is this necessasry?</h2>

<h4>Please read the articles below to understand why it is so important we tell our doctors everything and accurately.</h4>

<br>

<a href="http://www.webmd.com/women/features/talking-with-your-doctor-what-to-say" target="blank"><h5>The Top 8 Secrets You Keep from Your Doctor</h5></a>
<a href ="http://www.cfah.org/prepared-patient/communicate-with-your-doctors/talking-about-your-symptoms" target="blank"><h5>Talking about Your Symptoms</h5></a>
<a href="http://www.wikihow.com/Describe-Medical-Symptoms-to-Your-Doctor" target="blank"><h5>How to Describe Medical Symptoms to Your Doctor</h5></a>
<a href="https://www.ucsfhealth.org/education/communicating_with_your_doctor/" target="blank"><h5>Communicating with Your Doctor</h5></a>

